---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PageLayout from "../layouts/PageLayout.astro";
import "@/styles/globals.css";
---

<PageLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  heroImage="/blog-placeholder-1.jpg"
>
  <div>
    <h1 class="text-2xl font-bold my-4">Welcome!</h1>

    <p class="my-4">
      This is a simple Astro Fullstack template that is built on top of the
      official Astro Blog template.
    </p>
    <p class="my-4">
      It includes other frameworks and libraries like Tailwind CSS and
      Shadcn/UI.
    </p>
    <p class="my-4">
      The goal of this template is to showcase the Astro framework and its
      strengths. Astro offers versatile rendering options, including static site
      generation, server-side rendering, and hybrid rendering, making it a
      powerful and fast solution for various web development needs.
    </p>
    <p class="my-4">
      This template includes a showcase section where different frontend
      frameworks like React, Vue, and Svelte are implemented, demonstrating
      Astro's flexibility. Additionally, it integrates AstroDB for storing,
      querying, and displaying data seamlessly. The prebuilt blog feature allows
      you to easily create and manage blog posts using markdown files, providing
      a robust starting point for your content-driven projects.
    </p>
  </div>
</PageLayout>
